main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

header nav div img {
  padding: 15px;
  width: 140px;
  height: 140px; }

header nav div div ul li a {
  font-weight: 500;
  transition: 0.2s; }
  header nav div div ul li a:hover {
    text-decoration: underline; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px; }
  footer img {
    width: 60px;
    height: 60px; }
  footer div a img {
    width: 60px;
    height: 60px; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main .presentacion {
  width: 100%;
  height: 80vh;
  background-image: url("../img/fondo-section-index.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .presentacion div h1 {
    font-size: 100px;
    font-weight: 50;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    text-align: center; }
  main .presentacion div p {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    text-align: center; }

main .abrigos__invierno p {
  margin: 40px;
  color: green;
  font-size: 35px; }

main .abrigos__invierno > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  justify-items: center;
  gap: 10px; }
  main .abrigos__invierno > div div {
    width: 300px;
    height: 400px;
    border: 1px solid green;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #bef8be;
    transition: 0.5s; }
    main .abrigos__invierno > div div:hover {
      transform: scale(1.1); }
    main .abrigos__invierno > div div img {
      width: 100%;
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    main .abrigos__invierno > div div h3 {
      margin-bottom: 30px;
      font-size: 25px; }
    main .abrigos__invierno > div div a {
      text-decoration: none;
      background-color: green;
      padding: 5px;
      color: white;
      font-size: 18px; }
      main .abrigos__invierno > div div a:hover {
        background-color: #065c06;
        color: white;
        font-size: 20px; }

.ofertas p {
  margin: 40px;
  color: green;
  font-size: 35px; }

.ofertas > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  justify-items: center;
  gap: 10px; }
  .ofertas > div div {
    width: 300px;
    height: 400px;
    border: 1px solid green;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #bef8be;
    transition: 0.5s; }
    .ofertas > div div:hover {
      transform: scale(1.1); }
    .ofertas > div div img {
      width: 100%;
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    .ofertas > div div h3 {
      margin-bottom: 30px;
      font-size: 25px; }
    .ofertas > div div a {
      text-decoration: none;
      background-color: green;
      padding: 5px;
      color: white;
      font-size: 18px; }
      .ofertas > div div a:hover {
        background-color: #065c06;
        color: white;
        font-size: 20px; }

.boton__fixed img {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 60px;
  bottom: 150px; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  color: green;
  font-size: 35px; }

main .card__productos__1 > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  justify-items: center;
  column-gap: 15px;
  row-gap: 15px; }
  main .card__productos__1 > div div {
    width: 300px;
    height: 400px;
    border: 1px solid green;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #bef8be;
    transition: 0.5s; }
    main .card__productos__1 > div div:hover {
      transform: scale(1.1); }
    main .card__productos__1 > div div img {
      width: 100%;
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    main .card__productos__1 > div div h3 {
      margin-bottom: 30px;
      font-size: 25px; }
    main .card__productos__1 > div div a {
      text-decoration: none;
      background-color: green;
      padding: 5px;
      color: white;
      font-size: 18px; }
      main .card__productos__1 > div div a:hover {
        background-color: #065c06;
        color: white;
        font-size: 20px; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  color: green;
  font-size: 35px; }

main .card__ofertas__1 > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  justify-items: center;
  column-gap: 15px;
  row-gap: 15px; }
  main .card__ofertas__1 > div div {
    width: 300px;
    height: 400px;
    border: 1px solid green;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #bef8be;
    transition: 0.5s; }
    main .card__ofertas__1 > div div:hover {
      transform: scale(1.1); }
    main .card__ofertas__1 > div div img {
      width: 100%;
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    main .card__ofertas__1 > div div h3 {
      margin-bottom: 30px;
      font-size: 25px; }
    main .card__ofertas__1 > div div a {
      text-decoration: none;
      background-color: green;
      padding: 5px;
      color: white;
      font-size: 18px; }
      main .card__ofertas__1 > div div a:hover {
        background-color: #065c06;
        color: white;
        font-size: 20px; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main .contacto div {
  margin: 15px;
  display: flex; }
  main .contacto div img {
    width: 20px;
    height: 20px;
    margin: 15 px; }

main .contacto iframe {
  margin: 15px; }

main form .boton {
  margin: 15px; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

main .grid__contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;
  gap: 20px; }
  main .grid__contenedor .grid__imagen__1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28); }
  main .grid__contenedor .grid__parrafo__1 p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; }
  main .grid__contenedor .grid__imagen__2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28); }
  main .grid__contenedor .grid__parrafo__2 p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; }
  main .grid__contenedor .grid__imagen__3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.28); }
  main .grid__contenedor .grid__parrafo__3 p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }

@media screen and (max-width: 927px) {
  main .abrigos__invierno > div {
    grid-template-columns: repeat(2, 1fr); }
  main .card__productos__1 > div {
    grid-template-columns: repeat(2, 1fr); }
  main .ofertas > div {
    grid-template-columns: repeat(2, 1fr); }
  main .card__ofertas__1 > div {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 748px) {
  main .grid__contenedor {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px; }
  main .grid__contenedor .grid__imagen__1 img {
    width: 100%;
    height: 100%; }
  main .grid__contenedor .grid__imagen__2 img {
    width: 100%;
    height: 100%; }
  main .grid__contenedor .grid__imagen__3 img {
    width: 100vw;
    height: 100%; }
  main .grid__contenedor .grid__imagen__1 {
    order: 1; }
  main .grid__contenedor .grid__parrafo__1 {
    order: 2;
    font-size: medium; }
  main .grid__contenedor .grid__imagen__2 {
    order: 3; }
  main .grid__contenedor .grid__parrafo__2 {
    order: 4;
    font-size: medium; }
  main .grid__contenedor .grid__imagen__3 {
    order: 5; }
  main .grid__contenedor .grid__parrafo__3 {
    order: 6;
    font-size: medium; }
  main .abrigos__invierno > div div:hover {
    transform: none; }
  main .ofertas > div div:hover {
    transform: none; }
  main .card__productos__1 > div div:hover {
    transform: none; }
  main .card__ofertas__1 > div div:hover {
    transform: none; } }

@media screen and (max-width: 609px) {
  main .abrigos__invierno > div {
    grid-template-columns: repeat(1, 1fr); }
  main .ofertas > div {
    grid-template-columns: repeat(1, 1fr); }
  main .card__productos__1 > div {
    grid-template-columns: repeat(1, 1fr); }
  main .card__ofertas__1 > div {
    grid-template-columns: repeat(1, 1fr); }
  footer img {
    width: 40px;
    height: 40px; }
  footer p {
    font-size: 10px; }
  footer div a img {
    width: 40px;
    height: 40px; }
  .boton__fixed img {
    width: 40px;
    height: 40px;
    right: 40px;
    bottom: 150px; } }

@media screen and (max-width: 518px) {
  main .contacto iframe {
    margin: 15px;
    height: 400px;
    width: 400px; }
  main .presentacion div p {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 4px; } }

@media screen and (max-width: 500px) {
  main .grid__contenedor .grid__parrafo__1 {
    font-size: small; }
  main .grid__contenedor .grid__parrafo__2 {
    font-size: small; }
  main .grid__contenedor .grid__parrafo__3 {
    font-size: small; } }

@media screen and (max-width: 446px) {
  main .presentacion div h1 {
    font-size: 70px;
    font-weight: 50;
    letter-spacing: 8px; } }

@media screen and (max-width: 408px) {
  main .abrigos__invierno p {
    font-size: 25px; }
  main .ofertas p {
    font-size: 25px; }
  main p {
    font-size: 25px; } }

@media screen and (max-width: 362px) {
  main .grid__contenedor .grid__imagen__1 img {
    width: 100%;
    height: 100%; }
  main .grid__contenedor .grid__imagen__2 img {
    width: 100%;
    height: 100%; }
  main .grid__contenedor .grid__imagen__3 img {
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 349px) {
  footer img {
    width: 30px;
    height: 30px; }
  footer div a img {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 334px) {
  main .presentacion div h1 {
    font-size: 60px;
    font-weight: 50;
    letter-spacing: 8px; } }

@media screen and (max-width: 303px) {
  main .abrigos__invierno p {
    font-size: 20px; }
  main a {
    font-size: 25px; }
  main p {
    font-size: 20px; }
  main .ofertas p {
    font-size: 20px; }
  main .abrigos__invierno div div {
    width: 250px;
    height: 350px; }
  main .abrigos__invierno div div img {
    width: 100%;
    height: 250px; }
  main .abrigos__invierno div div h3 {
    font-size: 20px; }
  main .abrigos__invierno div div a {
    font-size: 15px; }
  main .ofertas div div {
    width: 250px;
    height: 350px; }
  main .ofertas div div img {
    width: 100%;
    height: 250px; }
  main .ofertas div div h3 {
    font-size: 20px; }
  main .ofertas div div a {
    font-size: 15px; }
  main .card__productos__1 div div {
    width: 250px;
    height: 350px; }
  main .card__productos__1 div div img {
    width: 100%;
    height: 250px; }
  main .card__productos__1 div div h3 {
    font-size: 20px; }
  main .card__productos__1 div div a {
    font-size: 15px; }
  main .card__ofertas__1 div div {
    width: 250px;
    height: 350px; }
  main .card__ofertas__1 div div img {
    width: 100%;
    height: 250px; }
  main .card__ofertas__1 div div h3 {
    font-size: 20px; }
  main .card__ofertas__1 div div a {
    font-size: 15px; } }

main .abrigos__invierno p, .ofertas p {
  display: flex;
  justify-content: left;
  align-items: center; }
