
$color-verde: green;
$color-blanco: white;
$color-fondo-card-verde: rgb(190, 248, 190);
$color-fondo-boton-verde: rgb(6, 92, 6);



%flex{
    display: flex;
    justify-content: left;
    align-items: center;
}


@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}